section {
  width: 500px;
  margin: auto;
  border: 1px solid #CCC;
  padding: 20px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
}

#id-login-submit {
  text-align: right;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
