<section>
  <div class="row container-fluid" id="create-basic-info-wrapper">
    <form class="col-lg-6">
      <div class="form-group">
        <label for="id-hk-name">Banner</label>
        <input type="url" class="form-control" id="id-hk-banner" aria-describedby="hackathon_banner" >
      </div>
      <div class="form-group">
        <label for="id-hk-name">Name</label>
        <input type="text" class="form-control" id="id-hk-name" aria-describedby="hackathon_name" >
      </div>
      <div class="form-group">
        <label for="id-hk-name">Summary</label>
        <input type="text" class="form-control" id="id-hk-summary" aria-describedby="hackathon_summary" >
      </div>
      <div class="form-group">
        <label for="id-hk-description">Description</label>
        <textarea name="description" id="id-hk-description" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <button class="float-right btn btn-link" > Next &raquo; </button>
    </form>

  </div>
</section>
