
<section>
  <app-titlebar title="Create Hackathon">

  </app-titlebar>
  <div class="row container-fluid">
    <div class="col-lg-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href > Basic information </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href > Criteria </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href > Sceduled Dates </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-10">
      <app-basic-info></app-basic-info>

      <app-criteria></app-criteria>

      <app-planned-dates></app-planned-dates>
    </div>
  </div>
</section>


